.kimpanel-label {
  font-family:sans;
  font-weight:normal;
  padding: 0.3em;
}

.kimpanel-candidate-item {
  cursor: pointer;
}

.kimpanel-candidate-item:hover {
  border-radius: 4px;
  background-color: rgba(255,255,255,0.33);
}

.kimpanel-candidate-item:active {
  border-radius: 4px;
  background-color: rgba(255,255,255,0.33);
}

.kimpanel-candidate-item:active:hover {
  border-radius: 4px;
  background-color: rgba(255,255,255,0.15);
}

.minwidth-zero {
  min-width: 0;
}

.icon-disable {
  color:rgba(150,150,150,0.5);
}
