.kimpanel-label {
  font-family:sans;
  font-weight:normal;
  padding: 5px;
}

.kimpanel-label-item {
  padding: 3px;
}

.kimpanel-candidate-item {
  cursor: pointer;
}

.kimpanel-candidate-item:hover {
  border-radius: 4px;
  background-color: rgba(255,255,255,0.33);
}

.kimpanel-candidate-item:active {
  border-radius: 4px;
  background-color: rgba(255,255,255,0.33);
}

.kimpanel-candidate-item:active:hover {
  border-radius: 4px;
  background-color: rgba(255,255,255,0.15);
}



.icon-disable {
  color:rgba(150,150,150,0.5);
}
